body h2,
body #navlink {
  font-family: "Paytone One", sans-serif !important;
}
body #quotes {
  background-image: linear-gradient(#0a292e, #004d5f);
  height: 85vh;
  color: white;
}

body #quotes .container {
  padding-top: 35vh;
}

nav a {
  color: white;
}
nav a:hover {
  color: #d85e5d;
}

.vektor {
  width: 200px;
}
